* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
/* NAVBAR-STYLE */
.navbar-container {
  height: 80px;
  width: 100%;
  background-color: darkblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.logo {
  font-weight: 900;
  font-size: 25px;
}
.nav-links > a {
  margin: 5px 10px;
  padding: 5px 10px;
  font-weight: 600;
  border-radius: 4px;
  transition: 0.2s;
}
.nav-links > a:hover {
  background-color: white;
  color: black;
}



.emp-card{
  border: 2px solid black;

}
